<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.znck.mapper.ParkingMapper" >
	<resultMap id="BaseResultMap" type="com.znck.entity.ParkingEntity" >
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="carid" property="carId" jdbcType="VARCHAR" />
		<result column="nowspaceid" property="nowSpaceId" jdbcType="VARCHAR" />
		<result column="feturespaceid" property="fetureSpaceId" jdbcType="VARCHAR" />
		<result column="intime" property="inTime" javaType="java.util.Date" />
		<result column="outtime" property="outTime" javaType="java.util.Date" />
		<result column="nature" property="nature" jdbcType="VARCHAR" />
		<result column="way" property="way" jdbcType="VARCHAR" />
	</resultMap>
    
	<sql id="Base_Column_List" >
        id,carId,nowSpaceId,fetureSpaceId,inTime,outTime,nature,way
	</sql>

	<select id="getParkingByCarid" parameterType="String" resultMap="BaseResultMap" >
        SELECT 
		<include refid="Base_Column_List" />
       FROM parking
       WHERE carid = #{carId}
	</select>

	<select id="getParkingsByNature" resultMap="BaseResultMap"  >
       SELECT 
		<include refid="Base_Column_List" />
       FROM parking
       where nature = #{nature} 
       <if test = "order == 'order by outTime'">
       	    order by outtime
       </if>
       <if test = "order == 'order by inTime'">
            order by intime
       </if>
	</select>    

	<select id="getAll" resultMap="BaseResultMap"  >
       SELECT 
		<include refid="Base_Column_List" />
       FROM parking
	</select>

	<select id="getOne" parameterType="String" resultMap="BaseResultMap" >
        SELECT 
		<include refid="Base_Column_List" />
       FROM parking
       WHERE id = #{id}
	</select>

	<insert id="insert" parameterType="com.znck.entity.ParkingEntity" >
       INSERT INTO 
            parking
            (id,carid
            ,nowspaceid,feturespaceid
            ,intime,outtime,nature,way) 
        VALUES
            (#{id}, #{carId}
            , #{nowSpaceId}, #{fetureSpaceId}
            , #{inTime}, #{outTime}, #{nature},#{way})
	</insert>
    
	<update id="update" parameterType="com.znck.entity.ParkingEntity" >
       UPDATE 
            parking 
       SET 
        carid = #{carId},
        nowspaceid = #{nowSpaceId},
        feturespaceid = #{fetureSpaceId},
        intime = #{inTime},
        outtime = #{outTime},
        nature = #{nature},
        way = #{way}
       WHERE 
            id = #{id}
	</update>
    
	<delete id="delete" parameterType="String" >
       DELETE FROM
             parking 
       WHERE 
             id =#{id}
	</delete>

</mapper>