<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="ko" lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Javascript 二维码生成库：QRCode</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://static.runoob.com/assets/qrcode/qrcode.min.js"></script>
    <script type="text/javascript" src="../user/js/jquery.js"></script>
    <script type="text/javascript" src="../user/js/publicFunction.js"></script>
</head>
<body>
<div id="qrcode" style="width:100px; height:100px; margin-top:15px;"></div>
</body>
<script type="text/javascript">
    $(function() {
        alert(getUrl());
        $.ajax({
            async:false,
            type:'POST',
            dataType:'text',
            url:getUrl()+'/getExitCode',
            contentType:'application/json;charset=UTF-8',
            data:null,
            success:function(data){
                alert(data);
                var qrcode = new QRCode(document.getElementById("qrcode"), {
                    width : 100,
                    height : 100
                });
                qrcode.makeCode(data);
            }
        });
    });
</script>
</html>
