<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Hello Thymeleaf!</title>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/publicFunction.js}"></script>
  </head>
  <body>
    <input type = "hidden" th:value = "${phone}" id = "phone"/>
    <input type = "hidden" id = "nature"/>
    <p id = "userNickName">您好</p>
    <p id = "message"></p>
    <input type = "button" id = "activeEmail" value = "激活邮箱"/>
    <input type="button" id="grxx" value="修改个人信息"/>
    <input type="button" id="changePhone" value="修改绑定手机号"/>
    <input type="button" id="changeEmail" value="修改绑定邮箱"/>
    <input type = "button" id = "changeSensitiveMessage" value = "修改个人敏感信息" />
    <input type = "button" id = "changePassword" value = "修改密码" />
    <input type = "button" value = "成为会员" id = "toBeVip"/>
    <input type = "button" value = "激活手机" id = "activePhone"/>
    <input type = "button" value = "补全个人信息" id = "completionPersonInfo"/>
    <p id = "carinfos"></p>
    <div>
        <div id = "allCars">
            <p></p>
        </div>
    </div>
    <br>
    <input type = "button" id="addCar" value = "添加新车辆"/>
  </body>
  <script type="text/javascript">
    function updateCar(userId){
        //alert(userId);
    }
    $(document).ready(function() {
    	setInterval(function() {
    	   var phone = $("#phone").val();
    	   updateCar(456);
    	}, 1000);
    })
  	$(function() {
  		var phone = $("#phone").val();
  		var userData = null;
  		$.ajax({
                async:false,
                type:'POST',
                dataType:'json',
                url:getUrl()+'/getUserByPhone',
                contentType:'application/json;charset=UTF-8',
                data:JSON.stringify({"phone":phone}),
                success:function(data){
                    userData = data;
                }
            });
        $("#userNickName").text($("#userNickName").text() +"  "+ userData.nickName);
        $("nature").val(userData.nature);
        if(userData.nature == 0){
        
            $("#grxx").hide();
            $("#changePhone").hide();
            $("#changeSensitiveMessage").hide();
            $("#toBeVip").hide();
            $("#addCar").hide();
            $("#changeEmail").hide();
            var message = "请您尽快激活，完成";
            if(userData.phoneNature != 0){
                $("#activePhone").hide();
            }else{
                message = message + "手机激活";
            }
            if(userData.emailNature != 0){
                $("#activeEmail").hide();
            }else{
                message = message + "邮件激活";
            }
            if(!isNullOrUndefined(userData.realName)&!isNullOrUndefined(userData.idCard)){
                $("#completionPersonInfo").hide();
            }else{
                message = message + "个人敏感信息认证";
            }    
            $("#message").text(message);
        }else{
            $("#completionPersonInfo").hide();
            $("#activeEmail").hide();
            $("#activePhone").hide();
            if(userData.nature == 1){
                $("#message").text("您好，请您停车");
            }else{
                $("#message").text("VIP用户您好，请您使用预约取车功能");
                $("#toBeVip").hide();
            }
        }
        
        if(userData.nature == 0){
            return;
        }
        
        var carMassage = null;
        //获得所有的车
        $.ajax({
            async:false,
            type:'POST',
            dataType:'json',
            url:getUrl()+'getCarByUserId',
            contentType:'application/json;charset=UTF-8',
            data:JSON.stringify({"id":userData.id}),
            success:function(data){
                $("#carinfos").text("汽车数量："+JSON.stringify(data.length));
                carMassage = data;
            }
        });
        var vip = userData.nature
        for(var i = 0;i<carMassage.length;i++){
            var nature = carMassage[i].nature;
            var textForNatureId = "";
            var textForNatureRealName = "";
            var textForDeleteCar = "";
            if(nature == "" || nature == null || nature == undefined){
                
                nature = "可以停车";
                
                if(vip != 0 && vip !=1){
                    textForNatureId = '<input type = "hidden" id = "canSaveVip"/>';
                }else{
                    textForNatureId = '<input type = "hidden" id = "canSave"/>';
                }
                textForNatureRealName = '<input type = "button" value = "停车" class = "saveCar"/>'+"&nbsp;"+"&nbsp;"+"&nbsp;";
                textForDeleteCar = '<input type = "button" value = "删除车辆" class="deleteCar"/>'+"&nbsp;"+"&nbsp;"+"&nbsp;";
            }else if (nature == "存车中"){
                textForNatureId = '<input type = "hidden" id = "savingCar"/>';
            }else if(nature == "停车中"){
                textForNatureId = '<input type = "hidden" id = "canGet"/>';
                if(vip != 0 && vip !=1){
                    textForNatureId = '<input type = "hidden" id = "canGetVip"/>';
                }else{
                    textForNatureId = '<input type = "hidden" id = "canGet"/>';
                }
                textForNatureRealName = '<input type = "button" value = "取车" class = "saveCar"/>'+"&nbsp;"+"&nbsp;"+"&nbsp;";
            }else{
                //取车中
                textForNatureId = '<input type = "hidden" id = "stopCar"/>';
            }
            
            var carName1 = carMassage[i].carName;
            var text = '<div id = "'+carMassage[i].id+'" style=\"border:1px solid #000000\;width:300px;padding-left:20px;padding-bottom:20px;margin-bottom:20px;">'
                +"<div><p>车牌号："+carMassage[i].carCard+"</p></div>"
                +"<div><p>车名称："+carMassage[i].carName+"</p></div>"
                +"<div><p>信息："+carMassage[i].carInfo+"</p></div>"
                +"<div><p>汽车状态："+nature+"</p></div>"
                +textForNatureId
                +textForNatureRealName
                +'<input type = "button" value = "修改车辆信息" class="changeCarMassage"/>'+"&nbsp;"+"&nbsp;"+"&nbsp;"
                +textForDeleteCar
                +'</div>';
            $("#allCars").append(text);
        }
  	});
  	
    $("body").on("click", ".saveCar",saveCar );
　         function saveCar(){
        var carId = $(this).parent().attr('id');
        var nature = $(this).prev().attr('id');
        var phone = $("#phone").val();
        window.location.href=getProjectName()+"/"+"jumpToUrl?carId="+carId+"&url=carToDo&nature="+nature+"&phone="+phone;
    }
    $("body").on("click", ".changeCarMassage",changeCarMassage );
　         function changeCarMassage(){
        var carId = $(this).parent().attr('id');
        window.location.href=getProjectName()+"/"+"jumpToUrl?carId="+carId+"&url=carInfo&phone="+$("#phone").val();
    }
    $("body").on("click", ".deleteCar",deleteCar );
　         function deleteCar(){
        var carId = $(this).parent().attr('id');
        var phone = $("#phone").val();
        alert("删除车辆");
        $.ajax({
            async:false,
            type:'POST',
            dataType:'json',
            url:getUrl()+'deleteCarById',
            contentType:'application/json;charset=UTF-8',
            data:JSON.stringify({"id":carId}),
            success:function(data){
                window.location.href=getProjectName()+"/"+"jumpToUrl?phone="+phone+"&url=hello";
            }
        });
    };
  	
  	$("#toBeVip").click(function() {
  	    var phone = $("#phone").val();
        $.ajax({
            async:false,
            type:'POST',
            dataType:'json',
            url:getUrl()+'/toBeVip',
            contentType:'application/json;charset=UTF-8',
            data:JSON.stringify({"phone":phone}),
            success:function(data){
                window.location.href=getProjectName()+"/"+"jumpToUrl?phone="+phone+"&url=hello";
            }
        });
    });
  	
  	$("#grxx").click(function() {
        window.location.href=getProjectName()+"/"+"jumpToUrl?url=userInfo&changeLevel=changeGeneralInfo&phone="+$("#phone").val();
    });
    $("#addCar").click(function() {
        window.location.href=getProjectName()+"/"+"jumpToUrl?carId=null&url=carInfo&phone="+$("#phone").val();
    });
    $("#changePhone").click(function() {
        window.location.href=getProjectName()+"/"+"jumpToUrl?url=userInfo&changeLevel=changePhone&phone="+$("#phone").val();
    });
    $("#changeEmail").click(function() {
        window.location.href=getProjectName()+"/"+"jumpToUrl?url=userInfo&changeLevel=changeEmail&phone="+$("#phone").val();
    });
    $("#changeSensitiveMessage").click(function() {
        window.location.href=getProjectName()+"/"+"jumpToUrl?url=userInfo&changeLevel=changeSensitiveMessage&phone="+$("#phone").val();
    });
    $("#activeEmail").click(function() {
        window.location.href=getProjectName()+"/"+"jumpToUrl?url=userInfo&changeLevel=activeEmail&phone="+$("#phone").val();
    });
    $("#activePhone").click(function() {
        window.location.href=getProjectName()+"/"+"jumpToUrl?url=userInfo&changeLevel=activePhone&phone="+$("#phone").val();
    });
    $("#changePassword").click(function() {
    	window.location.href=getProjectName()+"/"+"jumpToUrl?url=userInfo&changeLevel=changePassword&phone="+$("#phone").val();
    })
    $("#completionPersonInfo").click(function(){
        window.location.href=getProjectName()+"/"+"jumpToUrl?url=userInfo&changeLevel=completionPersonInfo&phone="+$("#phone").val();
    });
  </script>
</html>