<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.znck.mapper.CarMapper" >
    <resultMap id="BaseResultMap" type="com.znck.entity.CarEntity" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="userId" property="userid" jdbcType="VARCHAR" />
        <result column="carInfo" property="carinfo" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id, userId,carInfo
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
       FROM car
    </select>

    <select id="getOne" parameterType="String" resultMap="BaseResultMap" >
        SELECT 
       <include refid="Base_Column_List" />
       FROM car
       WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.znck.entity.UserEntity" >
       INSERT INTO 
            user
            (id,userid,carinfo) 
        VALUES
            (#{id}, #{userId}, #{carInfo})
    </insert>
    
    <update id="update" parameterType="com.znck.entity.UserEntity" >
       UPDATE 
            car 
       SET 
        <if test="userName != null">userid = #{userId},</if>
        <if test="nickName != null">carinfo = #{carInfo},</if>
       WHERE 
            id = #{id}
    </update>
    
    <delete id="delete" parameterType="String" >
       DELETE FROM
             car 
       WHERE 
             id =#{id}
    </delete>

</mapper>