<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>3D立体车库后台监控管理系统</title>
    <meta name="viewport" content="width=device-width">
    <link href="css/base.css" rel="stylesheet" type="text/css">
    <link href="css/login.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="ui/aes.js"></script>
    <script type="text/javascript" src="ui/pad-zeropadding.js"></script>
    <script type="text/javascript" src="ui/mode-ecb.js"></script>
  </head>
  <body>
    <div class="login">
      <div class="logo"></div>
      <div class="login_form">
        <div class="user">
          <input class="text_value" value="" name="username" type="text" id="username">
          <input class="text_value" value="" name="password" type="password" id="password">
        </div>
        <button class="button" id="submit" type="submit">登录</button>
      </div>
      <div id="tip"></div>
      <div class="foot">Xiao shuxiang's graduation design in 2018</div>
    </div>
  </body>
  <script type="text/javascript">
  	$("#submit").click(function() {
  		var data = $("#username").val();
  		var password = $("#password").val();
  		if (data == "" || data == null ||
  			data == undefined) {
  			alert("用户名不能为空！"); return;
  		}
  		if (password == "" || password == null || password == undefined) {
  			alert("密码不能为空！");
  			return;
  		}
  		var key = CryptoJS.enc.Latin1.parse(password);
  		var encrypted = CryptoJS.AES.encrypt(data, key, {
  			mode : CryptoJS.mode.ECB,
  			padding : CryptoJS.pad.Pkcs7
  		});
  		$.ajax({
  			type : 'POST',
  			dataType : 'json',
  			url : getUrl() + 'adminLanding',
  			contentType : 'application/json;charset=UTF-8',
  			data : JSON.stringify({
  				"id" : encrypted.toString(),
  			}),
  			success : function(data) {
  			   if(data.id == "true"){
  			       alert("登陆成功");
  			       //window.location.href = getProjectName() + "/" + "jumpToUrl?url=adminshow/views/index";
  			       window.location.href = getProjectName() + "/" + "templates/adminshow/views/index.html";
  			   }else{
                   alert("登陆失败！");
  			   }
  			}
  		});
  	});
  	function getUrl() { // 获取当前网址，如： http://localhost:8083/uimcardprj/share/meun.jsp var
  		curWwwPath = window.document.location.href; // 获取主机地址之后的目录，如： uimcardprj/share/meun.jsp 
  		var pathName = window.document.location.pathname; 
  		var pos = curWwwPath.indexOf(pathName); // 获取主机地址，如： http://localhost:8083 
  		var localhostPaht = curWwwPath.substring(0, pos); // 获取带"/"的项目名，如：/uimcardprj 
  		var projectName = pathName .substring(0, pathName.substr(1).indexOf('/') + 1);
  		return localhostPaht + projectName + "/";
  	}
  	function getProjectName() {
    var pathName = window.document.location.pathname;
    var projectName = pathName
            .substring(0, pathName.substr(1).indexOf('/') + 1);
    return projectName;
    }
  	
  </script>
</html>
