<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script type="text/javascript" th:src="@{/templates/admin/js/jquery.js}"></script>
<script type="text/javascript"
	th:src="@{/templates/admin/js/publicFunction.js}"></script>
</head>
<body>
	<button id="zc">sd</button>
	<p id="test1">665556</p>
</body>
<script type="text/javascript">
	$("#zc").click(function() {
		$.ajax({
			async : false,
			type : 'POST',
			dataType : 'json',
			url : getUrl() + 'admin/getPage1',
			contentType : 'application/json;charset=UTF-8',
			data : null,
			success : function(data) {
				alert(JSON.stringify(data));
			}
		});
	})
</script>
</html>