<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/publicFunction.js}"></script>
  </head>
  <body>
    <input type = "hidden" th:value = "${nature}" id = "nature"/>
    <input type = "hidden" th:value = "${carId}" id = "carId" />
    <label id = "textForSaveCar">存车时间</label>
    <input id = "vipAppSaveCarTime" type = "datetime-local"/>
    <input id = "vipAppSaveCar" type = "button" value="vip预约存车"/>
    <input id = "saveCar" type = "button" value="停车"/>
    <input id = "vipSaveCar" type = "button" value = "vip确认停车"/>
    <input id = "vipCancelSaveCar" type="button" value="取消停车"/>
    <label id = "textForGetCarTime">取车时间</label>
    <input id = "vipAppGetCarTime" type="datetime-local" />
    <input id = "vipTakeOutCar" type="button" value = "vip预约取车"/>
    <input id = "vipTakeOutCarNow" type="button" value="vip立即取车"/>
    <input id = "takeOutCar" type="button" value="取车"/>
    <input id = "getCar" type="button" value = "开走车辆"/>
  </body>
  <script type="text/javascript">
    $(function() {
        var nature = $("#nature").val();
        if(nature == "vipAppSaveCar"){
          $("#textForSaveCar").hide();
          $("#vipAppSaveCarTime").hide();
          $("#vipAppSaveCar").hide();
        }else if(nature == "saveCar"){
          $("#saveCar").hide();
        }else if(nature == "vipSaveCar"){
          $("#vipSaveCar").hide();
        }else if(nature == "vipCancelSaveCar"){
          $("#vipCancelSaveCar").hide();
        }else if(nature == "vipTakeOutCarNow"){
          $("#vipTakeOutCarNow").hide();
        }else if(nature == "takeOutCar"){
          $("#takeOutCar").hide();
        }else if(nature == "vipTakeOutCar"){
          $("#textForGetCarTime").hide();
          $("#vipAppGetCarTime").hide();
          $("#vipTakeOutCar").hide();
        }else{
          //nature == "getCar";
          $("#getCar").hide();
        }
    });

    $("#vipAppSaveCar").click(function () {
      var vipAppSaveCarTime = $("#vipAppSaveCarTime").val();
      if(isNullOrUndefined(vipAppSaveCarTime)){
        alert("请填写具体时间！");
        return;
      }
      var carId = $("#carId").val();
      var appTime = vipAppSaveCarTime.split("T")[0]+" " +vipAppSaveCarTime.split("T")[1]+":00";
    });
    $("#saveCar").click(function () {
      //普通停车
      var carId = $("#carId").val();
    });
    $("#vipSaveCar").click(function () {
      //vip预约停车
      var carId = $("#carId").val();
    });
    $("#vipCancelSaveCar").click(function () {
      var carId = $("#carId").val();
    });
    $("#vipTakeOutCar").click(function () {
      var carId = $("#carId").val();
      var vipAppGetCarTime = $("#vipAppGetCarTime").val();
      if(isNullOrUndefined(vipAppGetCarTime)){
        alert("请填写具体时间！");
        return;
      }
    });
    $("#vipTakeOutCarNow").click(function () {
      var carId = $("#carId").val();
    })
    $("#takeOutCar").click(function () {
      var carId = $("#carId").val();
    })
    $("#getCar").click(function () {
      var carId = $("#carId").val();
    })

    function carToDoForAjax(url,time){
      var json_data = JSON.stringify({"id":$("#carId").val(),"realName":time});
      $.ajax({
        async:false,
        type:'POST',
        dataType:'json',
        url:getUrl() + url,
        contentType:'application/json;charset=UTF-8',
        data:json_data,
        success:function(data){
          window.location.href=getProjectName()+"/"+"jumpToUrl?url=hello";
        }
      });
    }

    Date.prototype.Format = function(fmt) {
        var o = {
        "M+" : this.getMonth() + 1,
        "d+" : this.getDate(),
        "h+" : this.getHours(),
        "m+" : this.getMinutes(),
        "s+" : this.getSeconds(),
        "q+" : Math.floor((this.getMonth() + 3) / 3),
        "S" : this.getMilliseconds()
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
        if (new RegExp("(" + k + ")").test(fmt))
            fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
    $("#saveCar").click(function() {
        var carId = $("#carId").val();
        var nature = $("#nature").val();
        var time = $("#inTime").val();
        var url = getUrl();
        var data = null;
        var message = null;
        var phone = $("#phone").val();
        if(nature == "canSave"){
            url = url + 'parkingStopCar';
            data = JSON.stringify({"id":carId,"realName":null,"nickName":null});
            message = "成功存车！正在存车中";
        }else if(nature =="canGet"){
            url = url + 'parkingGetCar';
            data = JSON.stringify({"id":carId,"realName":null,"nickName":null});
            message = "成功取车！正在取车中";
        }else if(nature =="canGetVip"){
            //vip取车，可预约取车时间
            var timeToString = null;
            var message2 = "";
            var message3 = "";
            if(time == "" || time == null || time == undefined){
                //var nowDate = new Date();
                //timeToString=new Date().Format("yyyy-MM-dd hh:mm:ss");
                message3 = "请在出口等待车辆！";
            }else{
                message2 = "预约"
                timeToString =time.split("T")[0]+" " +time.split("T")[1]+":00";
                message3 = "请于"+timeToString+"取出车辆！";
            }
            data = JSON.stringify({"id":carId,"realName":timeToString,"nickName":"true"});
            url = url + '/parkingGetCar';
            message = "尊敬的wip用户！您已"+message2+"取车成功！"+message3;
        }else{
            //vip存车，可预约取车时间
            //2019-02-13T23:00
            var timeToString = null;
            if(time == "" || time == null || time == undefined){
                //var nowDate = new Date();
                //timeToString=new Date().Format("yyyy-MM-dd hh:mm:ss");
            }else{
                timeToString =time.split("T")[0]+" " +time.split("T")[1]+":00";
            }
            data = JSON.stringify({"id":carId,"realName":timeToString,"nickName":"true"});
            url = url + '/parkingStopCar';
            message = "尊敬的vip用户！您已停车成功！"
        }
        $.ajax({
            async:false,
            type:'POST',
            dataType:'json',
            url:url,
            contentType:'application/json;charset=UTF-8',
            data:data,
            success:function(data){
                alert(message);
                window.location.href=getProjectName()+"/"+"jumpToUrl?phone="+phone+"&url=hello";
            }
        });
    });
  </script>
</html>