<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{templates/user/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{templates/user/js/publicFunction.js}"></script>
  </head>
  <body>
    <input type = "hidden" th:value = "${nature}" id = "nature"/>
    <input type = "hidden" th:value = "${carId}" id = "carId" />
    <label id = "textForSaveCar">存车时间</label>
    <input id = "vipAppSaveCarTime" type = "datetime-local"/>
    <input id = "vipAppSaveCar" type = "button" value="vip预约存车"/>
    <input id = "saveCar" type = "button" value="停车"/>
    <input id = "vipSaveCar" type = "button" value = "vip确认停车"/>
    <input id = "vipCancelSaveCar" type="button" value="取消停车"/>
    <label id = "textForGetCarTime">取车时间</label>
    <input id = "vipAppGetCarTime" type="datetime-local" />
    <input id = "vipTakeOutCar" type="button" value = "vip预约取车"/>
    <input id = "vipCancelTakeOutCar" type="button" value="取消预约取车"/>
    <input id = "vipTakeOutCarNow" type="button" value="vip立即取车"/>
    <input id = "takeOutCar" type="button" value="取车"/>
    <input id = "getCar" type="button" value = "开走车辆"/>
  </body>
  <script type="text/javascript">
    $(function() {
    	var nature = $("#nature").val();
        if(nature == "vipAppSaveCar"){
          $("#saveCar").hide();
          $("#vipSaveCar").hide();
          $("#vipCancelSaveCar").hide();
          $("#vipTakeOutCarNow").hide();
          $("#takeOutCar").hide();
          $("#textForGetCarTime").hide();
          $("#vipAppGetCarTime").hide();
          $("#vipTakeOutCar").hide();
          $("#vipCancelTakeOutCar").hide();
          $("#getCar").hide();
        }else if(nature == "saveCar"){
          $("#textForSaveCar").hide();
          $("#vipAppSaveCarTime").hide();
          $("#vipAppSaveCar").hide();
          $("#vipSaveCar").hide();
          $("#vipCancelSaveCar").hide();
          $("#vipTakeOutCarNow").hide();
          $("#takeOutCar").hide();
          $("#textForGetCarTime").hide();
          $("#vipAppGetCarTime").hide();
          $("#vipCancelTakeOutCar").hide();
          $("#vipTakeOutCar").hide();
          $("#getCar").hide();
        }else if(nature == "vipSaveCar"){
          $("#textForSaveCar").hide();
          $("#vipAppSaveCarTime").hide();
          $("#vipAppSaveCar").hide();
          $("#saveCar").hide();
          $("#vipCancelSaveCar").hide();
          $("#vipTakeOutCarNow").hide();
          $("#takeOutCar").hide();
          $("#textForGetCarTime").hide();
          $("#vipAppGetCarTime").hide();
          $("#vipTakeOutCar").hide();
          $("#vipCancelTakeOutCar").hide();
          $("#getCar").hide();
        }else if(nature == "vipCancelSaveCar"){
          $("#textForSaveCar").hide();
          $("#vipAppSaveCarTime").hide();
          $("#vipAppSaveCar").hide();
          $("#saveCar").hide();
          $("#vipSaveCar").hide();
          $("#vipTakeOutCarNow").hide();
          $("#takeOutCar").hide();
          $("#textForGetCarTime").hide();
          $("#vipAppGetCarTime").hide();
          $("#vipCancelTakeOutCar").hide();
          $("#vipTakeOutCar").hide();
          $("#getCar").hide();
        }else if(nature == "vipCancelTakeOutCar"){
            $("#textForSaveCar").hide();
            $("#vipAppSaveCarTime").hide();
            $("#vipAppSaveCar").hide();
            $("#saveCar").hide();
            $("#vipSaveCar").hide();
            $("#vipCancelSaveCar").hide();
            $("#vipTakeOutCarNow").hide();
            $("#takeOutCar").hide();
            $("#textForGetCarTime").hide();
            $("#vipAppGetCarTime").hide();
            $("#vipTakeOutCar").hide();
            $("#getCar").hide();
        }else if(nature == "vipTakeOutCarNow"){
          $("#textForSaveCar").hide();
          $("#vipAppSaveCarTime").hide();
          $("#vipAppSaveCar").hide();
          $("#saveCar").hide();
          $("#vipSaveCar").hide();
          $("#vipCancelSaveCar").hide();
          $("#takeOutCar").hide();
          $("#textForGetCarTime").hide();
          $("#vipAppGetCarTime").hide();
          $("#vipCancelTakeOutCar").hide();
          $("#vipTakeOutCar").hide();
          $("#getCar").hide();
        }else if(nature == "takeOutCar"){
          $("#textForSaveCar").hide();
          $("#vipAppSaveCarTime").hide();
          $("#vipAppSaveCar").hide();
          $("#saveCar").hide();
          $("#vipSaveCar").hide();
          $("#vipCancelSaveCar").hide();
          $("#vipTakeOutCarNow").hide();
          $("#textForGetCarTime").hide();
          $("#vipAppGetCarTime").hide();
          $("#vipTakeOutCar").hide();
          $("#vipCancelTakeOutCar").hide();
          $("#getCar").hide();
        }else if(nature == "vipTakeOutCar"){
          $("#textForSaveCar").hide();
          $("#vipAppSaveCarTime").hide();
          $("#vipAppSaveCar").hide();
          $("#saveCar").hide();
          $("#vipSaveCar").hide();
          $("#vipCancelSaveCar").hide();
          $("#vipTakeOutCarNow").hide();
          $("#takeOutCar").hide();
          $("#vipCancelTakeOutCar").hide();
          $("#getCar").hide();
        }else{
        	$("#saveCar").hide();
        	$("#textForSaveCar").hide();
            $("#vipAppSaveCarTime").hide();
            $("#vipAppSaveCar").hide();
            $("#vipSaveCar").hide();
            $("#vipCancelSaveCar").hide();
            $("#vipTakeOutCarNow").hide();
            $("#takeOutCar").hide();
            $("#textForGetCarTime").hide();
            $("#vipAppGetCarTime").hide();
            $("#vipCancelTakeOutCar").hide();
            $("#vipTakeOutCar").hide();
        }
    });
    
    $("#vipCancelTakeOutCar").click(function(){
    	var carId = $("#carId").val();
    	$.ajax({
            async:false,
            type:'POST',
            dataType:'text',
            url:getUrl()+'vipCancelTakeOutCar',
            contentType:'application/json;charset=UTF-8',
            data:JSON.stringify({"id":carId}),
            success:function(data){
              window.location.href=getProjectName()+"/"+"jumpToUrl?url=user/hello";
            }
         });
    });
    
    $("#vipTakeOutCarNow").click(function(){
    	var carId = $("#carId").val();
    	$.ajax({
            async:false,
            type:'POST',
            dataType:'text',
            url:getUrl()+'vipTakeOutCarNow',
            contentType:'application/json;charset=UTF-8',
            data:JSON.stringify({"id":carId}),
            success:function(data){
              window.location.href=getProjectName()+"/"+"jumpToUrl?url=user/hello";
            }
         });
    });
	$("#vipTakeOutCar").click(function(){
	    var vipAppGetCarTime = $("#vipAppGetCarTime").val();
	    if(isNullOrUndefined(vipAppGetCarTime)){
	      alert("请填写具体时间！");
	      return;
	    }
	    var carId = $("#carId").val();
	    var appTime = vipAppGetCarTime.split("T")[0]+" " +vipAppGetCarTime.split("T")[1]+":00";
    	$.ajax({
            async:false,
            type:'POST',
            dataType:'text',
            url:getUrl()+'vipTakeOutCar',
            contentType:'application/json;charset=UTF-8',
            data:JSON.stringify({"id":carId,"realName":appTime}),
            success:function(data){
              window.location.href=getProjectName()+"/"+"jumpToUrl?url=user/hello";
            }
         });
    });
    $("#vipSaveCar").click(function(){
    	var carId = $("#carId").val();
    	$.ajax({
            async:false,
            type:'POST',
            dataType:'text',
            url:getUrl()+'vipSaveCar',
            contentType:'application/json;charset=UTF-8',
            data:JSON.stringify({"id":carId}),
            success:function(data){
              window.location.href=getProjectName()+"/"+"jumpToUrl?url=user/hello";
            }
         });
    });
    
    $("#vipCancelSaveCar").click(function(){
    	var carId = $("#carId").val();
    	$.ajax({
            async:false,
            type:'POST',
            dataType:'text',
            url:getUrl()+'vipCancelSaveCar',
            contentType:'application/json;charset=UTF-8',
            data:JSON.stringify({"id":carId}),
            success:function(data){
              window.location.href=getProjectName()+"/"+"jumpToUrl?url=user/hello";
            }
         });
    });
    
    $("#vipAppSaveCar").click(function () {
      var vipAppSaveCarTime = $("#vipAppSaveCarTime").val();
      if(isNullOrUndefined(vipAppSaveCarTime)){
        alert("请填写具体时间！");
        return;
      }
      var carId = $("#carId").val();
      var appTime = vipAppSaveCarTime.split("T")[0]+" " +vipAppSaveCarTime.split("T")[1]+":00";
      $.ajax({
          async:false,
          type:'POST',
          dataType:'text',
          url:getUrl()+'vipAppSaveCar',
          contentType:'application/json;charset=UTF-8',
          data:JSON.stringify({"id":carId,"realName":appTime}),
          success:function(data){
        	  alert(data);
              window.location.href=getProjectName()+"/"+"jumpToUrl?url=user/hello";
          }
       });
    });

    $("#saveCar").click(function () {
    	//普通停车
    	var carId = $("#carId").val();
	 	$.ajax({
           async:false,
           type:'POST',
           dataType:'text',
           url:getUrl()+'saveCar',
           contentType:'application/json;charset=UTF-8',
           data:JSON.stringify({"id":carId}),
           success:function(data){
        	   alert(data);
               window.location.href=getProjectName()+"/"+"jumpToUrl?url=user/hello";
           }
        });
    });
    $("#vipSaveCar").click(function () {
      //vip预约停车
      var carId = $("#carId").val();
    });
    $("#vipCancelSaveCar").click(function () {
      var carId = $("#carId").val();
    });
    $("#vipTakeOutCar").click(function () {
      var carId = $("#carId").val();
      var vipAppGetCarTime = $("#vipAppGetCarTime").val();
      if(isNullOrUndefined(vipAppGetCarTime)){
        alert("请填写具体时间2！");
        return;
      }
      
    });
    $("#vipTakeOutCarNow").click(function () {
      var carId = $("#carId").val();
    })
    $("#takeOutCar").click(function () {
      var carId = $("#carId").val();
      $.ajax({
          async:false,
          type:'POST',
          dataType:'json',
          url:getUrl()+'takeOutCar',
          contentType:'application/json;charset=UTF-8',
          data:JSON.stringify({"id":carId}),
          success:function(data){
              window.location.href=getProjectName()+"/"+"jumpToUrl?url=user/hello";
          }
       });
    })
    $("#getCar").click(function () {
      var carId = $("#carId").val();
      $.ajax({
          async:false,
          type:'POST',
          dataType:'json',
          url:getUrl()+'getCar',
          contentType:'application/json;charset=UTF-8',
          data:JSON.stringify({"id":carId}),
          success:function(data){
              window.location.href=getProjectName()+"/"+"jumpToUrl?url=user/hello";
          }
       });
    })

    function carToDoForAjax(url,time){
      var json_data = JSON.stringify({"id":$("#carId").val(),"realName":time});
      $.ajax({
        async:false,
        type:'POST',
        dataType:'json',
        url:getUrl() + url,
        contentType:'application/json;charset=UTF-8',
        data:json_data,
        success:function(data){
          window.location.href=getProjectName()+"/"+"jumpToUrl?url=hello";
        }
      });
    }

    Date.prototype.Format = function(fmt) {
        var o = {
        "M+" : this.getMonth() + 1,
        "d+" : this.getDate(),
        "h+" : this.getHours(),
        "m+" : this.getMinutes(),
        "s+" : this.getSeconds(),
        "q+" : Math.floor((this.getMonth() + 3) / 3),
        "S" : this.getMilliseconds()
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
        if (new RegExp("(" + k + ")").test(fmt))
            fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
  </script>
</html>