<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>用户主页</title>
<script type="text/javascript" th:src="@{templates/user/js/jquery.js}"></script>
<script type="text/javascript"
	th:src="@{templates/user/js/publicFunction.js}"></script>
</head>
<body>
	<p id="userNickName">您好</p>
	<p id="message">尊敬的用户你好</p>
	<input type="button" id="activeEmail" value="激活邮箱" />
	<input type="button" id="grxx" value="修改个人信息" />
	<input type="button" id="changePhone" value="修改绑定手机号" />
	<input type="button" id="changeEmail" value="修改绑定邮箱" />
	<input type="button" id="changeSensitiveMessage" value="修改个人敏感信息" />
	<input type="button" id="changePassword" value="修改密码" />
	<input type="button" value="成为会员" id="toBeVip" />
	<input type="button" value="激活手机" id="activePhone" />
	<input type="button" value="补全个人信息" id="completionPersonInfo" />
	<p id="carinfos"></p>
	<div>
		<div id="allCars">
		</div>
	</div>
	<br>
	<input type="button" id="addCar" value="添加新车辆" />
</body>
<script type="text/javascript">

	$(function() {
		var userData = null;
		$.ajax({
			async : false,
			type : 'POST',
			dataType : 'json',
			url : getUrl() + 'getUserByPhone',
			contentType : 'application/json;charset=UTF-8',
			data : null,
			success : function(data) {
				userData = data;
			}
		});
		
		$("#userNickName").text(
				$("#userNickName").text() + "  " + userData.nickName);
		if (userData.nature == 0) {
			$("#grxx").hide();
			$("#changePhone").hide();
			$("#changeSensitiveMessage").hide();
			$("#toBeVip").hide();
			$("#addCar").hide();
			$("#changeEmail").hide();
			var message = "请您尽快激活，完成";
			if (userData.phoneNature != 0) {
				$("#activePhone").hide();
			} else {
				message = message + "手机激活";
			}
			if (userData.emailNature != 0) {
				$("#activeEmail").hide();
			} else {
				message = message + "邮件激活";
			}
			if (!isNullOrUndefined(userData.realName)
					& !isNullOrUndefined(userData.idCard)) {
				$("#completionPersonInfo").hide();
			} else {
				message = message + "个人敏感信息认证";
			}
			$("#message").text(message);
		} else if (userData.nature == 1) {
			$("#message").text('用户您好，请选择您的业务');
			$("#activeEmail").hide();
			$("#activePhone").hide();
			$("#completionPersonInfo").hide();
		} else {
			$("#message").text('尊敬的会员用户您好，你可享用vip停车取车业务！');
			$("#activeEmail").hide();
			$("#activePhone").hide();
			$("#completionPersonInfo").hide();
			$("#toBeVip").hide();
		}
		if(userData.nature == "0"){
			return;
		}
		var carMassage = null;
        //获得所有的车
        $.ajax({
            async:false,
            type:'POST',
            dataType:'json',
            url:getUrl()+'getUserCars',
            contentType:'application/json;charset=UTF-8',
            data:null,
            success:function(data){
                $("#carinfos").text("汽车数量："+JSON.stringify(data.length));
                carMassage = data;
            }
        });
        if(carMassage == null){
        	return;
        }
        for(var i = 0;i<carMassage.length;i++){
			var htmlForOneDiv = '';
			var nature = carMassage[i].nature;
			if(isNullOrUndefined(nature)){
				nature = '可以停车';
				//修改，删除，停车，vip停车
				htmlForOneDiv = '<input type = "button" id = "changeCarInfo" class = "clickToDo" value = "修改车辆"/>'
					+'<input type = "button" id = "deleteCar" class = "clickToDo" value = "删除车辆"/>'
					+'<input type = "button" id = "saveCar" class = "clickToDo" value = "存车"/>'
				if(userData.nature == 2){
					htmlForOneDiv = htmlForOneDiv +'<input type = "button" id = "vipAppSaveCar" class = "clickToDo" value = "vip预约停车"/>';
				}
			}else if(nature == '等待用户停车中'){
				//vip确认停车
				//取消停车
				htmlForOneDiv = '<input type = "button" id = "vipSaveCar" class = "clickToDo" value = "vip确认停车"/>'
					+'<input type = "button" id = "vipCancelSaveCar" class = "clickToDo" value = "取消停车"/>'
			}else if(nature == 'vip预约取车中'){
				//取消取车
				//立即取车
				htmlForOneDiv = '<input type = "button" id = "vipCancelTakeOutCar" class = "clickToDo" value = "取消vip预约取车"/>'
					+'<input type = "button" id = "vipTakeOutCarNow" class = "clickToDo" value = "立即取车"/>'
			}else if(nature == '存车中'){
				//取车
				//vip取车
				htmlForOneDiv = '<input type = "button" id = "takeOutCar" class = "clickToDo" value = "取车"/>'
					+'<input type = "button" id = "vipTakeOutCar" class = "clickToDo" value = "vip预约取车"/>'
			}else if(nature == '等待用户取车中'){
				//确认取车取车
				htmlForOneDiv = '<input type = "button" id = "getCar" class = "clickToDo" value = "我已到达指定位置，可以取车"/>'
			}else {
				//vip停车中
				//vip取车中
				//停车中
				//驱车中
			}
			var text = '<div id = "'+carMassage[i].id+'" style=\"border:1px solid #000000\;width:300px;padding-left:20px;padding-bottom:20px;margin-bottom:20px;">'
                +"<div><p>车牌号："+carMassage[i].carCard+"</p></div>"
                +"<div><p>车名称："+carMassage[i].carName+"</p></div>"
                +"<div><p>信息："+carMassage[i].carInfo+"</p></div>"
                +"<div><p>汽车状态："+nature+"</p></div>"
                +htmlForOneDiv
                +'</div>';
            $("#allCars").append(text);
        }
	})
	$("#addCar").click(function() {
        window.location.href=getProjectName()+"/"+"jumpToUrl?url=user/carInfo";
    });
    $("#changePassword").click(function() {
    	window.location.href=getProjectName()+"/"+"jumpToUrl?url=user/userInfo&changeLevel=changePassword";
    })
    $("#activeEmail").click(function() {
    	window.location.href=getProjectName()+"/"+"jumpToUrl?url=user/userInfo&changeLevel=activeEmail";
    })
	$("body").on("click", ".clickToDo",clickToDo);
	function clickToDo(){
		var toDo = $(this).parent().attr('id');
		var carId = $(this).attr('id');
		if('deleteCar' == toDo){
			$.ajax({
	            async:false,
	            type:'POST',
	            dataType:'json',
	            url:getUrl()+'deleteCarById',
	            contentType:'application/json;charset=UTF-8',
	            data:JSON.stringify({"id":$(this).parent().attr('id')}),
	            success:function(data){
	            	alert("删除成功");
	                window.location.href=getProjectName()+"/"+"jumpToUrl?phone="+phone+"&url=user/hello";
	            }
	        });
			return;
		}
		window.location.href=getProjectName()+"/"+"jumpToUrl?url=user/userInfo&changeLevel=activeEmail";
	}
</script>
</html>