<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{templates/user/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{templates/user/js/publicFunction.js}"></script>
  </head>
  <body>
  <form action=""></form>
    账号：
    <input type="text" name="" oninput="value=value.replace(/[^\d]/g,'')" id="userName" />
    <br>
    密码：
    <input type="password" id="password">
    <br>
    <input type="button" class="zc" id="zc" value="注册" />
    <input type="button" class="dl" id="dl" value="登陆" />
  </body>
  <script type="text/javascript">
    $("#zc").click(function() {
        var pathName=window.document.location.pathname;
        var projectName=pathName.substring(0,pathName.substr(1).indexOf('/')+1);
        window.location.href=getProjectName()+"/"+"jumpToUrl?url=user/phone";
    })
  
    $("#dl").click(function() {
        
  		var userName = $("#userName").val();
  		var password = $("#password").val();
  		var err = "";
  		if(userName.length == ""){
  		    err+="用户名不能为空"+"\n";
  		}
  		
  		if(password.length == ""){
  		    err += "密码不能为空" + "\n";
  		}
  		
  		if(err!=""){
  		    alert(err);
  		}else{
  		    $.ajax({
  		        type:'POST',
                dataType:'json',
                url:getUrl()+'landing',
                contentType:'application/json;charset=UTF-8',
                data:JSON.stringify({"phone":userName,"password":password}),
                success:function(data){
                    window.location.href=getProjectName()+"/"+"jumpToUrl?url=user/hello";
                },
                error: function(){
                    alert("登陆失败！请检查用户名或密码");
                }
                
  		    });
  		}
  	})
  </script>
</html>