<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<script type="text/javascript" th:src="@{templates/user/js/jquery.js}"></script>
	<script type="text/javascript"
	th:src="@{templates/user/js/publicFunction.js}"></script>
</head>
<body>
	<input type="hidden" th:value="${changeLevel}" id = "changeLevel" />
	<div id="showUserPhone">
		电话： <input type="text" id="phone"
		oninput="value=value.replace(/[^\d]/g,'')" /><br>
	</div>
	<div id="showNickName">
		用户名: <input type="text" id="nickName" /><br>
	</div>
	<div id="showRealName">
		真实姓名：<input type="text" id="realName" /><br>
	</div>
	<div id="showPassword">
		密码：<input type="text" id="password" /><br>
	</div>
	<div id="showEmail">
		邮箱：<input type="text" id="email" /><br>
	</div>
	<div id="showidcard">
		身份证号码：<input type="text" id="idCard"
		oninput="value=value.replace(/[^\d]/g,'')" /><br>
	</div>
	<div id="showVerificationCode">
		验证码：<input type="text" id="verificationCode" /><br>
	</div>
	<div id="showGetVerificationCode">
		<input type="button" id="getVerificationCode" value="获得验证码" /><br>
	</div>
	<input type="button" value="确认" id="qr" />
</body>
<script type="text/javascript">
	$(function(){
		var userData = null;
		$.ajax({
			async : false,
			type : 'POST',
			dataType : 'json',
			url : getUrl() + 'getUserByPhone',
			contentType : 'application/json;charset=UTF-8',
			data : null,
			success : function(data) {
				userData = data;
			}
		});
		$("#phone").val(userData.phone);
		$("#nickName").val(userData.nickName);
		$("#realName").val(userData.realName);
		$("#password").val(userData.password);
		$("#email").val(userData.email);
		$("#idCard").val(userData.idCard);
		if ($("#changeLevel").val() == "activeEmail") {
			$("#showUserPhone").hide();
			$("#showNickName").hide();
			$("#showRealName").hide();
			$("#showPassword").hide();
			$("#showidcard").hide();
			$("#showVerificationCode").hide();
			$("#showGetVerificationCode").hide();
		} else if ($("#changeLevel").val() == "activePhone") {
			$("#showNickName").hide();
			$("#showRealName").hide();
			$("#showPassword").hide();
			$("#showidcard").hide();
			$("#showEmail").hide();
			$('#qr').attr('disabled', true);
			$('#phone').attr('disabled', true);
		} else if ($("#changeLevel").val() == "completionPersonInfo") {
			$("#showUserPhone").hide();
			$("#showNickName").hide();
			$("#showPassword").hide();
			$("#showEmail").hide();
			$("#showVerificationCode").hide();
			$("#showGetVerificationCode").hide();
		} else if ($("#changeLevel").val() == "changeGeneralInfo") {
			$("#showUserPhone").hide();
			$("#showPassword").hide();
			$("#showEmail").hide();
			$("#showRealName").hide();
			$("#showidcard").hide();
			$("#showVerificationCode").hide();
			$("#showGetVerificationCode").hide();
		} else if ($("#changeLevel").val() == "changePhone") {
			$("#showPassword").hide();
			$("#showEmail").hide();
			$("#showRealName").hide();
			$("#showidcard").hide();
			$("#showVerificationCode").hide();
			$("#showGetVerificationCode").hide();
			$("#showNickName").hide();
		} else if ($("#changeLevel").val() == "changeEmail") {
			$("#showUserPhone").hide();
			$("#showPassword").hide();
			$("#showRealName").hide();
			$("#showidcard").hide();
			$("#showVerificationCode").hide();
			$("#showGetVerificationCode").hide();
			$("#showNickName").hide();
		} else if ($("#changeLevel").val() == "changeSensitiveMessage") {
			$("#showUserPhone").hide();
			$("#showPassword").hide();
			$("#showEmail").hide();
			$("#showVerificationCode").hide();
			$("#showGetVerificationCode").hide();
			$("#showNickName").hide();
		} else if ($("#changeLevel").val() == "changePassword") {
			$("#showUserPhone").hide();
			$("#showEmail").hide();
			$("#showRealName").hide();
			$("#showidcard").hide();
			$("#showVerificationCode").hide();
			$("#showGetVerificationCode").hide();
			$("#showNickName").hide();
		} else {
			$("#showUserPhone").hide();
			$("#showPassword").hide();
			$("#showEmail").hide();
			$("#showRealName").hide();
			$("#showidcard").hide();
			$("#showVerificationCode").hide();
			$("#showGetVerificationCode").hide();
			$("#showNickName").hide();
		}
	});
	$("#qr").click(function(){
		var jsonInfo = null;
		var urlForServer = null;
		var urlForJump = null;
		if ($("#changeLevel").val() == "activeEmail") {
			jsonInfo = {"email" : $("#email").val();};
			urlForServer = getUrl() + "sendEmailForActive";
			urlForJump = getProjectName() + "/"
			+ "jumpToUrl?url=user/index&name=null";
		} else if ($("#changeLevel").val() == "activePhone") {
			jsonInfo = {id : $("#verificationCode").val()};
			urlForServer = getUrl() + "activeVerificationCode";
			urlForJump = getProjectName() + "/"
			+ "jumpToUrl?phone=" + $("#phone").val()
			+ "&url=user/hello";
		} else if ($("#changeLevel").val() == "completionPersonInfo") {
			var realName = $("#realName").val();
			var idCard = $("#idCard").val();
			if (realName.search(' ') > -1) {
				alert("真实姓名不能含有空格！");
				return;
			};
			if (isNullOrUndefined(realName)) {
				alert("真实姓名不能为空");
				return;
			};
			if (IdentityCodeValid(idcard) == false) {
				return;
			};
			jsonInfo = {"realName" : realName,"idCard" : idcard};
			urlForServer = getUrl() + "addUserSensitiveInfo";
			urlForJump = getProjectName() + "/"
			+ "jumpToUrl?url=user/hello";
		} else if ($("#changeLevel").val() == "changeGeneralInfo") {
			var nickName = $("#nickName").val();
			if (nickName.search(' ') > -1) {
				alert("用户名不能含有空格！");
				return;
			}
			;
			if (isNullOrUndefined(nickName)) {
				alert("用户名不能为空");
				return;
			}
			jsonInfo = {"nickName" : nickName};
			urlForServer = getUrl() + "changeGeneralInfo";
			urlForJump = getProjectName() + "/"
			+ "jumpToUrl?url=user/hello";
		} else if ($("#changeLevel").val() == "changePhone") {
			var phone = $("#phone").val();
			if (isNullOrUndefined(phone)) {
				alert("电话不能为空");
				return;
			}
			jsonInfo = {"phone" : phone};
			urlForServer = getUrl() + "changePhone";
			urlForJump = getProjectName() + "/"
			+ "jumpToUrl?url=user/index&name=null";
		} else if ($("#changeLevel").val() == "changeEmail") {
			var email = $("#email").val();
			if (isNullOrUndefined(email)) {
				alert("邮箱不能为空");
				return;
			}
			jsonInfo = {"email" : email};
			urlForServer = getUrl() + "changeEmail";
			urlForJump = getProjectName() + "/"
			+ "jumpToUrl?url=user/hello";
		} else if ($("#changeLevel").val() == "changeSensitiveMessage") {
			var realName = $("#realName").val();
			var idCard = $("#idCard").val();
			if (realName.search(' ') > -1) {
				alert("真实姓名不能含有空格！");
				return;
			};
			if (isNullOrUndefined(realName)) {
				alert("真实姓名不能为空");
				return;
			}
			if (IdentityCodeValid(idCard) == false) {
				return;
			}
			jsonInfo = {"realName" : realName,"idCard" : idCard};
			urlForServer = getUrl() + "changeSensitiveMessage";
			urlForJump = getProjectName() + "/"
				+ "jumpToUrl?url=user/hello";
		} else if ($("#changeLevel").val() == "changePassword") {
			var password = $("#password").val();
			if (password.search(' ') > -1) {
				alert("密码不能含有空格！");
				return;
			};
			if (isNullOrUndefined(password)) {
				alert("密码不能为空");
				return;
			}
			jsonInfo = {"password" : password};
			urlForServer = getUrl() + "changePassword";
			urlForJump = getProjectName() + "/"
			+ "jumpToUrl?url=user/index&name=null";
		} else {
			return;
		}
		$.ajax({
			async : false,
			type : 'POST',
			dataType : 'json',
			url : urlForServer,
			contentType : 'application/json;charset=UTF-8',
			data : JSON.stringify(jsonInfo),
			success : function(data) {
				window.location.href = urlForJump;
			}
		});
	});
	$("#getVerificationCode").click(function() {
		urlForServer = getUrl() + "sendVerificationCode";
		$.ajax({
			async : false,
			type : 'POST',
			dataType : 'json',
			url : urlForServer,
			contentType : 'application/json;charset=UTF-8',
			data : null,
			success : function(data) {
				alert("发送成功！");
				$('#qr').attr('disabled', false);
				$('#getVerificationCode').attr('disabled', true);
			}
		});
	})
</script>
</html>