<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <script type="text/javascript" th:src="@{../../static/js/jquery.js}"></script>
  </head>
  <body>
    <input type = "hidden" th:value = "${phone}" id = "phone"/>
    <input type = "hidden" th:value = "${carId}" id = "carId" />
            车牌号<input type = "text" id = "carCard"/><br>
            汽车名<input type = "text" id = "carName"/><br>
            车辆信息<input type = "text" id = "carInfo"/><br>
    
    <input type = "button" value="确认" id = "qr"/>
  </body>
  <script type="text/javascript">
    $(function() {
        var carId = $("#carId").val();
        if(carId == "null"){
            //alert("添加车辆");
            return ;
        }
        
        //alert("修改车辆");
        
        $.ajax({
            async:false,
            type:'POST',
            dataType:'json',
            url:url+'/getCar',
            contentType:'application/json;charset=UTF-8',
            data:JSON.stringify({"id":carId}),
            success:function(data){
                alert("添加成功！");
                window.location.href="jumpToUrl?url=index&name=null";
                window.location.href="jumpToUrl?phone="+phone+"&url=hello";
            }
        });
        
    });
    
    $("#qr").click(function() {
        var carCard = $("#carCard").val();
        var carName = $("#carName").val();
        var carInfo = $("#carInfo").val();
        var phone = $("#phone").val();
        var url = window.location.protocol + '//'+window.location.host;
        $.ajax({
            async:false,
            type:'POST',
            dataType:'json',
            url:url+'/saveNewCar',
            contentType:'application/json;charset=UTF-8',
            data:JSON.stringify({"id":phone,"carCard":carCard,"carInfo":carInfo,"carName":carName}),
            success:function(data){
                alert("添加成功！");
                window.location.href="jumpToUrl?url=index&name=null";
                window.location.href="jumpToUrl?phone="+phone+"&url=hello";
            }
        });
    })
  </script>
</html>