<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <script type="text/javascript" th:src="@{../../static/js/jquery.js}"></script>
  </head>
  <body>
    <input type = "hidden" th:value = "${nature}" id = "nature"/>
    <input type = "hidden" th:value = "${carId}" id = "carId" />
    <input type = "hidden" th:value = "${phone}" id = "phone"/>
    <label id = "text">取车时间：</label>
    <input id="inTime" type="datetime-local"/>
    <input type = "button" id = "saveCar" value = "停车"/>
  </body>
  <script type="text/javascript">
    $(function() {
        var carId = $("#carId").val();
        var nature = $("#nature").val();
        if(nature == "canSave"){
            $("#text").hide();
            $("#inTime").hide();
        }else if(nature =="canGet"){
            $("#inTime").hide();
            $("#text").hide();
            $("#saveCar").val("取车");
        }else if(nature =="canGetVip"){
            $("#saveCar").val("取车");
        }else {
            //预约取车
            $("#text").text("预约取车时间");
            $("#saveCar").val("存车");
        }
    });
    
    Date.prototype.Format = function(fmt) {
        var o = {
        "M+" : this.getMonth() + 1,
        "d+" : this.getDate(),
        "h+" : this.getHours(),
        "m+" : this.getMinutes(),
        "s+" : this.getSeconds(),
        "q+" : Math.floor((this.getMonth() + 3) / 3),
        "S" : this.getMilliseconds()
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
        if (new RegExp("(" + k + ")").test(fmt))
            fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
    $("#saveCar").click(function() {
        var carId = $("#carId").val();
        var nature = $("#nature").val();
        var time = $("#inTime").val();
        var url = window.location.protocol + '//'+window.location.host;
        var data = null;
        var message = null;
        var phone = $("#phone").val();
        if(nature == "canSave"){
            url = url + '/parkingStopCar';
            data = JSON.stringify({"id":carId,"realName":null,"nickName":null});
            message = "成功存车！正在存车中";
        }else if(nature =="canGet"){
            url = url + '/parkingGetCar';
            data = JSON.stringify({"id":carId,"realName":null,"nickName":null});
            message = "成功取车！正在取车中";
        }else if(nature =="canGetVip"){
            //vip取车，可预约取车时间
            var timeToString = null;
            var message2 = "";
            var message3 = "";
            if(time == "" || time == null || time == undefined){
                //var nowDate = new Date();
                //timeToString=new Date().Format("yyyy-MM-dd hh:mm:ss");
                message3 = "请在出口等待车辆！";
            }else{
                message2 = "预约"
                timeToString =time.split("T")[0]+" " +time.split("T")[1]+":00";
                message3 = "请于"+timeToString+"取出车辆！";
            }
            data = JSON.stringify({"id":carId,"realName":timeToString,"nickName":"true"});
            url = url + '/parkingGetCar';
            message = "尊敬的wip用户！您已"+message2+"取车成功！"+message3;
        }else{
            //vip存车，可预约取车时间
            //2019-02-13T23:00
            var timeToString = null;
            if(time == "" || time == null || time == undefined){
                //var nowDate = new Date();
                //timeToString=new Date().Format("yyyy-MM-dd hh:mm:ss");
            }else{
                timeToString =time.split("T")[0]+" " +time.split("T")[1]+":00";
            }
            data = JSON.stringify({"id":carId,"realName":timeToString,"nickName":"true"});
            url = url + '/parkingStopCar';
            message = "尊敬的vip用户！您已停车成功！"
        }
        
        $.ajax({
            async:false,
            type:'POST',
            dataType:'json',
            url:url,
            contentType:'application/json;charset=UTF-8',
            data:data,
            success:function(data){
                alert(message);
                window.location.href="jumpToUrl?phone="+phone+"&url=hello";
            }
        });
    });
  </script>
</html>