<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Hello Thymeleaf!</title>
    <script type="text/javascript" th:src="@{../../static/js/jquery.js}"></script>
  </head>
  <body>
    <input type = "hidden" th:value = "${phone}" id = "phone"/>
    <p id = "userNickName">您好</p>
    <p id = "userNature">您现在处于未激活状态，请重置个人信息，尽快实名认证</p>
    <input type="button" id="grxx" value="设置个人信息"/>
    <p id = "carinfos"></p>
    <div>
        <p>汽车名称</p>
    </div>
    <input type = "button" id="addCar" value = "添加新车辆"/>
  </body>
  <script type="text/javascript">
  	$(function() {
  		var phone = $("#phone").val();
  		var userData = null;
  		var url = window.location.protocol + '//'+window.location.host;
  		$.ajax({
                async:false,
                type:'POST',
                dataType:'json',
                url:url+'/getUserByPhone',
                contentType:'application/json;charset=UTF-8',
                data:JSON.stringify({"phone":phone}),
                success:function(data){
                    //alert(JSON.stringify(data));
                    
                    userData = data;
                }
            });
        $("#userNickName").text($("#userNickName").text() +"  "+ userData.nickName);
        if(userData.nature == 0){
            $("#grxx").val("重置个人信息");
            return;
        }else if(userData.nature == 1){
            $("#userNature").text("");
        }else{
            $("#userNature").text("您现在是会员用户，享受预约取车权力！");
        }
        $.ajax({
            async:false,
            type:'POST',
            dataType:'json',
            url:url+'/getCarByUserId',
            contentType:'application/json;charset=UTF-8',
            data:JSON.stringify({"id":userData.id}),
            success:function(data){
                $("#carinfos").text(JSON.stringify(data.length));
            }
        });
  	});
  	$("#grxx").click(function() {
        window.location.href="jumpToUrl?url=userInfo&phone="+$("#phone").val();
    });
    $("#addCar").click(function() {
        window.location.href="jumpToUrl?url=jumpToAddNewCar&phone="+$("#phone").val();
    })
  </script>
</html>