<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <script type="text/javascript" th:src="@{../../static/js/jquery.js}"></script>
  </head>
  <body>
  <form action=""></form>
    账号：
    <input type="text" name="" oninput="value=value.replace(/[^\d]/g,'')" id="userName" />
    <br>
    密码：
    <input type="password" id="password">
    <br>
    <input type="button" class="zc" id="zc" value="注册" />
    <input type="button" class="dl" id="dl" value="登陆" />
  </body>
  <script type="text/javascript">
    $("#zc").click(function() {
    	window.location.href="jump2?name=1&password=2&nickname=4";
    })
  
    $("#dl").click(function() {
  		var userName = $("#userName").val();
  		var password = $("#password").val();
  		var err = "";
  		if(userName.length == ""){
  		    err+="用户名不能为空"+"\n";
  		}
  		
  		if(password.length == ""){
  		    err += "密码不能为空" + "\n";
  		}
  		
  		if(err!=""){
  		    alert(err);
  		}else{
  		    //alert(window.location.pathname);
  		    //alert(window.location.href);
  		    $.ajax({
  		        type:'POST',
                dataType:'json',
                url:'http://localhost:8080/landing',
                contentType:'application/json;charset=UTF-8',
                data:JSON.stringify({"phone":userName,"password":password}),
                success:function(data){
                    window.location.href="jumpToHello?phone="+data["phone"];
                },
                error: function(){
                    alert("登陆失败！请检查用户名或密码");
                }
                
  		    });
  		}
  	})
  </script>
</html>