<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:src="@{../../static/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{../../static/js/aes/aes.js}"></script>
    <script type="text/javascript" th:src="@{../../static/js/aes/pad-zeropadding-min.js}"></script>
</head>
<body>
<input type="button" id="jiamitest" name="123" value="123">
</body>
<script type="text/javascript">
    $("#jiamitest").click(function () {
        var name = encrypt("肖舒翔");
        var data = encrypt(JSON.stringify({"name":name}));

        alert(name);
        alert(decrypt(name));
        var url = window.location.protocol + '//'+window.location.host;
        $.ajax({
            async:false,
            type:'POST',
            dataType:'text',
            url:url+'/jiamitest3',
            contentType:'application/text;charset=UTF-8',
            data:name,
            success:function(data){
                //alert(JSON.stringify(data));
                //userData = data;
            }
        });
    });

    function encrypt(data) {
        var key  = CryptoJS.enc.Utf8.parse('dufy20170329java');
        var iv   = CryptoJS.enc.Utf8.parse('dufy20170329java');
        return CryptoJS.AES.encrypt(data, key, {iv:iv,mode:CryptoJS.mode.CBC,padding:CryptoJS.pad.ZeroPadding}).toString();
    }

    function decrypt(word){
        var key = CryptoJS.enc.Utf8.parse("dufy20170329java");
        var iv   = CryptoJS.enc.Utf8.parse('dufy20170329java');
        var decrypt = CryptoJS.AES.decrypt(word, key, {iv:iv,mode:CryptoJS.mode.CBC,padding: CryptoJS.pad.ZeroPadding}).toString();
        return CryptoJS.enc.Utf8.stringify(decrypt).toString();
    }
</script>
</html>